[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-reotahiti
Exec=sailfish-qml harbour-reotahiti
Name=Reo Tahiti
Name[fr]=Reo Tahiti
Name[ty]=Reo Tahiti
